.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}
 .form-login{
    padding-top: 14vh;
}
/*
.login-form-bgrd{
    background: #eeeee4;
    padding: 20px;
} */

#choose_register{
    display: block;
}