<div class="container-fluid">
   <div class="row" style="margin-top: 36vh;">
     <div class="col-lg-4 col-md-4"></div>
        <div class="col-lg-4 col-md-4 text-center align-items-center">
            <form (ngSubmit)="onSubmit(forgotForm)" #forgotForm="ngForm" class="form mt-3">
                <div class="form-group">
                    <input type="email"  class="form-control" placeholder="Email" name="email" ngModel>
                    <p class="text-danger pl-1" *ngIf="error.email">{{ error.email }}</p>
                    <p class="text-success pl-1" *ngIf="message">{{ message }} on address <a href="https://mailtrap.io/inboxes">email</a></p>
                </div>
                <button class="btn btn-lg btn-primary btn-block">Request new password</button>
            </form>
        </div>
      <div class="col-lg-4 col-md-4"></div>
    </div>
</div> 


